canvas {
    border: 1px solid var(--color-accent);
    height: 100%;
    flex: 1;
}

.canvasArea {
    flex: 1;
}

.canvasArea-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--color-accent);
}